body{
    text-align: center;
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
}

.menu1{
    list-style: none;
    display: flex;
    float: right;
    font-size: 1.8rem;
    margin: 0;
  
}
img{
    width: 100%;
    height: 400px;
}
menu{
    margin-bottom:50px;
    margin-top: 0px;
    color: #3E773E;
}
.menu-items{
    margin-right: 30px;
}
.menu2{
    list-style: none;
    display: none;
    flex-direction: column;
    float: right;
    font-size: 1.8rem;
    margin: 0;
}
.menu-items2{
    margin-right: 30px;
    margin-left: -39px;
}
.logo{
    display: inline;
    padding: 0;
    padding-top: 20px;
    text-align: right !important;


}
i{
    margin-left: 11px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo h1{
    font-size: 1.8rem;
    font-weight: 400;
    display: inline;
    margin-top: 20px;
}
.logo h1 b{
    font-weight: 400;
    color: red;
}
.logo1{
    display: inline;
    padding: 0;
    text-align:left !important;
}
.logo1 h1{
    font-size: 1.8rem;
    font-weight: 400;
}
.logo1 h1 b{
    font-weight: 400;
    color: red;
}
.title{
    text-align: center;
    margin: 30px;
    margin-top: 27px;
    color: red;
}
.advt{
    width: 99.4%;
    height: 280px;

    border-right: 0px;
    border-left: 0px;
    display: flex; justify-content: center; align-items: center;
}
textarea{
    border-radius: 1rem;
    width: 70%;
}
.btnsub{
    width:7rem;
    height: 2.5rem;
    background-color: #3E773E;
    font-size: 1rem;
    color: white;
    border-radius: 1rem;
    border-style: none;
    margin: 3rem;
}
.btn1{
    width: 162px;
    height: 62px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: white;
    font-size: 25px;
    color: red;
    text-align: center;
    margin: 50px;
}
.share{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.p1{
    margin: 70px;
    font-size: 1.4rem;
    color: red;
}
footer{
    background-color: #3E773E;
    margin: 0;
    padding:0;
    height: max-content;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    margin-bottom: -10px;
    color: white;
    margin-top: 1rem;
}


footer h1{
    padding: 10px;
    font-size: 1rem;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: -1.4rem;
    width: 90%;
}
footer a{
    color: black;
}
.dropdown-item{
    color: white;
}
header{

margin-top: 20px;
}
.i2{
    font-size: 3rem;
    margin-top: 0.5rem;
    display: none;
    margin-left: -39px;

}
.menubtn{
    border: none;
    background-color: white;
    padding: 0;
    margin: 8px;
    height: 49px;
    display: none;
}
.dropdown{
    background-color: #3E773E;
    display: inline-block;
    text-align: center;
    padding-right: 33px;
    padding-left: 0px;
    border-radius: 13px;
    position: absolute;
    right: 8.9%;
    margin-top: -45px;
    display: none;

}
a{
    cursor: pointer;
}
li{
    cursor: pointer;
}
@media only screen and (min-width: 840px) {
.dropdown10{
display: none !important;

}
.logo{
    display: none;
}
.img30{
    width: 50%;
    height: 400px;
}
}
.dropdownul li{
    list-style: none;

}

a{
    color: #3E773E;
    text-decoration: none;
}
.a2{
color: red;
}
.dropdown a{
    color: white;
}
@media only screen and (max-width: 840px) {
    .box{
        display: inline;
    }
    .dropdown10{
        background-color: #3E773E;
        text-align: center;
        padding-right: 33px;
        padding-left: 0px;
        border-radius: 13px;
        position: absolute;
        left: 11.9%;
    margin-top: 208px;
    z-index: 2;
    }
    .menu1{
        display: none;
    }
    menu{
        margin-bottom: 50px;
    margin-top: 0px;
    color: #3E773E;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    height: fit-content;
    margin-top: -18px;
    }
    span{
        display: grid;
        grid-template-columns: 50% 50%;

        
    }
    .span{

        margin-top: -1rem;
        
    }
    .logo{

        margin-right: 2rem;

        margin-top: 27px;
    }

    .menubtn{
        display: inline;
        outline: none;
    }
    .logo1{
        display: none;
    }
    menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


.p1{
    margin: 40px;
    font-size: 1.4rem;
    color: red;
}
.title{

    margin: 20px;
    margin-top: 20px;

}
#be454bab-2889-49bf-9d82-a1b13c4d4a30{
display: none;
}
svg{
    width: 100%;
}
.dropdown{
    display: none !important;
}
header {
    margin-top: 20px;
}
img{
    z-index: -1;
}
  }
  @media only screen and (max-width: 1400px) {
      .dropdown{
          right: 10.3%;
      }
  }
  @media only screen and (max-width: 1200px) {
    .dropdown{
        right: 11.3%;
    }
}
@media only screen and (max-width: 1100px) {
    .dropdown{
        right: 12.3%;
    }
}
@media only screen and (max-width: 1000px) {
    .dropdown{
        right: 13.3%;
    }
    .menu1{
        font-size: 1.4rem;
            }
            .logo1 h1 {
                font-size: 1.4rem;
            }
}
@media only screen and (max-width: 900px) {
    .dropdown{
        right: 14.3%;
    }

}
@media only screen and (max-width: 810px) {
    .dropdown{
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    .dropdown10{
        left: 15%;
    }
    span{
        grid-template-columns: 40% 60%;
    }
}
@media only screen and (max-width: 600px) {
    .dropdown10{
        left: 17%;
    }
}
@media only screen and (max-width: 550px) {
    span{
        grid-template-columns: 30% 70%;
    }
}
@media only screen and (max-width: 530px) {
    .dropdown10{
        left: 20%;
    }
    svg{
        width: 100%;
        margin-top: -36px;
    }
    span{
        grid-template-columns: 30% 70%;
    }
}
@media only screen and (max-width: 450px) {
    .dropdown10{
        left: 23%;
    }
    svg{
        width: 100%;
        margin-top: -56px;
    }
    footer li{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 470px) {
    .logo h1 {
        font-size: 1.4rem;
        font-weight: 400;
    }
    input[type="checkbox" i] {
        margin: 0 !important;
    }
    nav{
        margin-left: -2rem;

    }
}
@media only screen and (max-width: 400px) {

    span {
        grid-template-columns: 20% 80%;
    }
}
@media only screen and (max-width: 395px) {
    .dropdown10{
        left: 25%;
    }
    .logo h1 {
        font-size: 1.4rem;
        font-weight: 400;
    }
    footer h1 {
        padding-top: 10px;
        font-size: 0.7rem;
    }
    .btn1{
        margin: 60px;
    }
    .advt{
        width: 98%;
        
    }
    footer{
        width: 99.5%;
    }
    .logo h1 {
        font-size: 1.2rem;
        font-weight: 400;
    }
}
@media only screen and (max-width: 355px) {
    .dropdown10{
        left: 29%;
    }
}

@media only screen and (max-width: 325px) {
    .dropdown10{
        left: 32%;
    }
    span {
        grid-template-columns: 25% 75%;
    }
}
.cc-revoke, .cc-window {
    position: relative;
    justify-content: center;
    margin-left: -3rem;
    margin-right: 0rem;
}
.item4 a{
    color: white;
}
